.light-font {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
}
.regular-font {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
}
.bold-font {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 700;
}